public/models/**/*.bin filter=lfs diff=lfs merge=lfs -text
public/models/**/*.png filter=lfs diff=lfs merge=lfs -text
public/models/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/models/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/models/**/*.webp filter=lfs diff=lfs merge=lfs -text
public/models/**/*.glb filter=lfs diff=lfs merge=lfs -text
public/models/**/*.gltf filter=lfs diff=lfs merge=lfs -text
